.show-options{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 23px;
    /* border: 2px solid black; */
    /* width: 30%; */
    align-self: center;
}

.form h1{
    text-align: center;
}

.form{
    width: 20%;
    align-self: center;
    left: 20%;
    /* top: 30%; */
}


 
  .form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .show-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .show-options div {
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .show-options div:hover {
    background-color: #007bff;
    color: #fff;
  }

  .active{
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background-color:  #007bff;
  }

  .divider{
    align-self: center;
    margin-top: 12px;
  }
  
  .show-options div.active {
    background-color: #0056b3;
    color: #fff;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .submit:hover {
    background-color: #0056b3;
  }
  
  .submit:active {
    background-color: #003d80;
  }
  

  .google-auth {
    text-align: center;
    margin-top: 16px;
  }
  
  .google-button {
    display: inline-block;
    background-color: #4285F4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .google-button:hover {
    background-color: #357ae8;
  }
  
  .google-button:active {
    background-color: #2a65c4;
  }